* {
    background-color: #d6c6e3;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;



}

h1 {

    font-size: 50px;
    font-family: 'Dhurjati', sans-serif;
}

button {

    background-color: #f8f9fa3d;
    border: 2px solid #212529;
    border-radius: 5px;
    color: #16212b;
    padding: 8px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

img {
    width: 25%;
    height: 25%;
    margin: 10px;
}